{% extends 'patient_base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top:3% ;">
    <div class="market-updates">
        <div class="col-md-4 market-update-gd">
          <div class="market-update-block clr-block-1">
            <div class="col-md-8 market-update-left">
              <h3>{{doctorName}}</h3>
              <h4>Doctor Name</h4>
            </div>
            <div class="col-md-4 market-update-right">
              <i class="fa fa-user-o"> </i>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="col-md-4 market-update-gd">
          <div class="market-update-block clr-block-2">
            <div class="col-md-8 market-update-left">
              <h3>{{symptoms}}</h3>
              <h4>Symptoms</h4>
            </div>
            <div class="col-md-4 market-update-right">
              <i class="fa fa-info-circle"></i>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="col-md-4 market-update-gd">
          <div class="market-update-block clr-block-3">
            <div class="col-md-8 market-update-left">
              <h3>{{doctorMobile}}</h3>
              <h4>Doctor Contact</h4>
            </div>
            <div class="col-md-4 market-update-right">
              <i class="fa fa-mobile" aria-hidden="true"></i>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    
    
    
      <br><br><br>
    
    
    
      <div class="market-updates">
        <div class="col-md-4 market-update-gd">
          <div class="market-update-block clr-block-1">
            <div class="col-md-8 market-update-left">
              <h3>{{doctorAddress}}</h3>
              <h4>Doctor Address</h4>
            </div>
            <div class="col-md-4 market-update-right">
              <i class="fa fa-map-marker"> </i>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="col-md-4 market-update-gd">
          <div class="market-update-block clr-block-2">
            <div class="col-md-8 market-update-left">
              <h3>{{doctorDepartment}}</h3>
              <h4>Doctor Department</h4>
            </div>
            <div class="col-md-4 market-update-right">
              <i class="fa fa-list-alt"></i>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="col-md-4 market-update-gd">
          <div class="market-update-block clr-block-3">
            <div class="col-md-8 market-update-left">
              <h3>{{admitDate}}</h3>
              <h4>Admit Date</h4>
            </div>
            <div class="col-md-4 market-update-right">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    
</div>

<br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-primary" >
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Appointments For You</h6>
      </div>
      <table class="table table-hover table-striped" id="dev-table">
        <thead class="thead-dark">
          <tr>
            <th>Patient Name</th>
            <th>Picture</th>
            <th>Description</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Date</th>
          </tr>
        </thead>
        {% for p,a in z %}
          
        <tr>
          <td>{{p.patient_id.first_name}}</td>
          <td> <img src="{{p.image.url}}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{a.description}}</td>
          <td>{{p.phone}}</td>
          <td>{{p.address}}</td>
          <td>{{a.appointmentDate}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}