{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-image: url('{% static "image/1.jpg" %}');
        background-size: cover;
        background-repeat: repeat;

    }
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      color: white;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
</style>
<div class="container mt-3">
    <div class="jumbotron text-center" style="margin-top: 0px;
    margin-bottom: 0px;">
        <h1 class="display-4">Hello {{request.user.first_name}}</h1><br>
        <p class="lead">Your Account is not approved till now <br>Our Team is checking your profile <br><br> Soon
            your account will be confirmed !!!</p>
        <hr class="my-4">
        <p>Check Later</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Logout" role="button">Logout For Now</a>
        </p>
    </div>
</div>
{% endblock content %}